Source: patience-mate-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/extra/settings-mate
Vcs-Git: https://git.siduction.org/extra/settings-mate.git
Homepage: https://git.siduction.org/extra/settings-mate

Package: patience-mate-settings
Architecture: all
Depends: ${misc:Depends},
         patience-mate-artwork,
         patience-sddm-settings
	 | patience-lightdm-gtk-settings
	 | patience-gdm3-settings,
         patience-common-settings
Description: Mate settings in installed mode
 Pushes Mate overrides schemas in installed mode

Package: patience-mate-livesettings
Architecture: all
Depends: ${misc:Depends},
         siduction-icons,
         patience-mate-artwork,
         patience-mate-settings,
         patience-common-livesettings,
         patience-sddm-livesettings
         | patience-ligthdm-gtk-livesettings
         | patience-gdm3-livesettings
Description: Mate settings in live mode
 Pushes Mate overrides schemas in live mode
