Source: 2021-03-mate-settings
Section: misc
Priority: optional
Maintainer: Alf Gaida <agaida@siduction.org>
Uploaders: Torsten Wohlfarth <towo@siduction.org>,
           Ovidiu Angelescu <convbsd@siduction.net>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Browser: https://git.siduction.org/extra/settings-mate
Vcs-Git: https://git.siduction.org/extra/settings-mate.git
Homepage: https://git.siduction.org/extra/settings-mate

Package: 2021-03-mate-settings
Architecture: all
Depends: ${misc:Depends},
         2021-03-mate-artwork,
         2021-03-sddm-settings
	 | 2021-03-lightdm-gtk-settings
	 | 2021-03-gdm3-settings,
         2021-03-common-settings
Description: Mate settings in installed mode
 Pushes Mate overrides schemas in installed mode

Package: 2021-03-mate-livesettings
Architecture: all
Depends: ${misc:Depends},
         siduction-icons,
         2021-03-mate-artwork,
         2021-03-mate-settings,
         2021-03-common-livesettings,
         2021-03-sddm-livesettings
         | 2021-03-ligthdm-gtk-livesettings
         | 2021-03-gdm3-livesettings
Description: Mate settings in live mode
 Pushes Mate overrides schemas in live mode
