[Unit]
Description=Mate cheatcodes in live media
ConditionPathExists=/usr/share/patience-mate-livesettings/
After=common-livesettings-patience.service

[Service]
Type=oneshot
ExecStart=/usr/share/patience-mate-livesettings/mate-cheatcodes start

[Install]
WantedBy=graphical.target
