[Unit]
Description=Mate cheatcodes in live media
ConditionPathExists=/usr/share/wintersky-mate-livesettings/
After=common-livesettings-wintersky.service

[Service]
Type=oneshot
ExecStart=/usr/share/wintersky-mate-livesettings/mate-cheatcodes start

[Install]
WantedBy=graphical.target
